.side-bar {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.4;
  z-index: 998;

  &.open {
    display: block;
  }

  &.close {
    display: none;
  }
}
.container {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 999;
  height: 100vh;
  border-right: solid 1px #ccc;
  background-color: white;
  transition: width 0.5s;

  &.open {
    width: 35%;
  }

  &.close {
    width: 0;
    overflow-x: hidden;
  }
}