@import '../../../constants.scss';

.name {
  margin-left: 10px;
}

.app-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  font-weight: bold;
}

.chat-box {
  width: 100%;
  height: calc(100% - (#{$top-margin - 6} * 2));
  background-color: rgb(247, 248, 246);
  display: flex;
  flex-direction: column;

  .messages-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    overflow-y: auto;
    padding: 0 25px;
    margin-top: 5px;

    >li {
      box-sizing: border-box;
      padding: 7px;
      margin-bottom: 10px;
      width: 35%;
      border: solid 1px #ccc;
      background-color: whitesmoke;
      border-radius: 5px;
      &.me {
        align-self: flex-end;
        background-color: yellowgreen;
      }
    }
  }

  .input-section {
    width: 100%;
    margin: 0 auto;
    background-color: $title-bar-color;
    height: 3.5rem;
    display: flex;

    
    >input {
      width: 95%;
      flex: 1;
      margin-left: 20px;
      font-size: 1rem;
      height: 2rem;
      align-self: center;
      outline: none;
      border: none;
      border-radius: 10px;

      :focus {
        outline: none;
        
      }
    }

    >.send {
      width: 60px;
      align-self: center;
      justify-self: center;
    }
  }
}