@import '../../../constants.scss';

.list-item {
  border: solid 1px #ccc;
  border-left: none;
  border-right: none;
  border-bottom: none;
  width: 100%;
  height: 80px;
  cursor: pointer;
  display: grid;
  background-color: white;
  grid-template-columns: 80px auto 50px;
  grid-template-rows: auto;

  grid-template-areas:
    "avatar name time"
    "avatar message info";


  &:last-child {
    border-bottom: solid 1px #ccc;
  }

  &:hover {
    background-color: #ccc;
    transition: background-color 1s;
  }

  &.selected {
    background-color: #eee;
  }

  .avatar,
  .name,
  .message,
  .info,
  .time {
    display: flex;
    align-items: center;
  }

  .info,
  .time,
  .avatar {
    justify-content: center;
  }

  .message {
    grid-area: message;
    padding-left: 10px;
    font-size: 0.9em;
    align-items: flex-start;
  }

  .avatar {
    grid-area: avatar;
  }

  // .avatar {
  //   grid-area: avatar;

  //   >img {
  //     width: 48px;
  //     height: 48px;
  //     border-radius: 50%;
  //   }
  // }

  .name {
    grid-area: name;
    font-size: 1.2em;
    align-items: flex-end;
    padding-left: 5px;
    font-weight: bold;
  }


  .info {
    grid-area: info;

    >div {
      background-color: #ccc;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .time {
    grid-area: time;
    color: #9c9c9c
  }
}