li {
  box-sizing: border-box;
  padding: 7px;
  margin-bottom: 10px;
  width: 35%;
  border: solid 1px #ccc;
  background-color: whitesmoke;
  border-radius: 5px;

  &.me {
    align-self: flex-end;
    background-color: yellowgreen;
  }
}